<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Nuova Pizza')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='pizze')}"></nav>
<h1>Nuova Pizza</h1>
<hr>

<form
   th:action="@{/pizze/create}"
   th:object="${pizza}"
   method="post"
   id="pizza-form">

    <div th:if="${#fields.hasErrors()}">
        <ul>
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
        </ul>
    </div>

    <div class="col-6">
        <label class="form-label" for="pizza-nome">Nome</label>
        <input class="form-control" type="text" id="pizza-nome" th:field="*{nome}">
    </div>
    <div th:if="${#fields.hasErrors('nome')}">
        <ul>
            <li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
        </ul>
    </div>
    <div class="col-6">
        <label class="form-label" for="pizza-descrizione">Descrizione</label>
        <input class="form-control" type="text" id="pizza-descrizione" th:field="*{descrizione}">
    </div>
    <div th:if="${#fields.hasErrors('descrizione')}">
        <ul>
            <li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
        </ul>
    </div>
    <div class="col-6">
        <label class="form-label" for="pizza-foto">Foto</label>
        <input class="form-control" type="url" id="pizza-foto" th:field="*{fotoUrl}">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Salva</button>
        <a class="btn btn-primary" th:href="@{/books}">Elimina</a>
    </div>
</form>
</body>
</html>