<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Pizza Dettagli')}">
</head>
<body>
   <nav th:replace="~{/fragments/navbar :: navbar(current='pizze')}"></nav>
   <div class="container" th:object="${pizza}">
       <h1 th:text="*{nome}"></h1>
       <h3 class="text-muted" th:text="|Prezzo: *{prezzo} €|"></h3>
       <hr>
       <dl>
           <dt>Descrizione</dt>
           <dd th:text="*{descrizione}"></dd>
       </dl>
   </div>
   <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>