<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/resources :: head(pageTitle='Pizza List')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='pizze')}"></nav>

<h1>Pizzeria da Ciro</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrizione</th>
    <th>Foto</th>
    <th>Prezzo</th>
  </tr>
  <tr th:each="pizza : ${pizzaList}">
    <td th:text="${pizza.nome}"></td>
    <td th:text="${pizza.descrizione}"></td>
    <td>
      <img th:src="${pizza.fotoUrl}" alt="Foto Pizza" width="100" height="100" />
    </td>
    <td th:text="${pizza.prezzo}"></td>
  </tr>
</table>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>