
body {
    background-image: url("https://img.freepik.com/free-vector/cute-pizza-cartoon-vector-icon-illustration-fast-food-icon-concept-flat-cartoon-style_138676-2588.jpg?size=626&ext=jpg&ga=GA1.2.1453055618.1687522540&semt=sph");
    background-size: contain;
    height: 100vh;
}