body {
    background-image: url("https://img.freepik.com/free-photo/view-pizza-wooden-background_23-2148574224.jpg?size=626&ext=jpg&ga=GA1.1.1453055618.1687522540&semt=sph");
    background-size: contain;
    height: 100vh;
}